<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About-me</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <table style="height: 810px; background-color: #808080;" width="587">
                <tbody>
                <tr style="height: 71px;">
                <td style="width: 577px; height: 71px;">
                <h1 style="text-align: center;"><strong>LỆNH TRUY N&Atilde;</strong></h1>
                <h1 style="text-align: center;"><span style="color: #800000;"><strong>WANTED!</strong></span></h1>
                </td>
                </tr>
                <tr style="height: 176px;">
                <td style="width: 577px; height: 176px; text-align: center;"><img src="https://ibb.co/dMc0W8" alt="" /><img src="https://ibb.co/dMc0W8" alt="" width="500" /><img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/10646617_843373505686488_4474262416483970335_n.jpg?_nc_cat=0&amp;oh=00940a19fa8b5dd613afe5f7c80bfeb1&amp;oe=5C099591" alt="" width="260" height="260" /></td>
                </tr>
                <tr style="height: 4px;">
                <td style="width: 577px; height: 4px;">
                <p style="text-align: center;"><strong><span style="color: #ffffff;">HỌC VI&Ecirc;N TRỐN L&Agrave;M B&Agrave;I TẬP NHUNG THỊ NH&Uacute;C</span></strong></p>
                <p><span style="color: #003300;"><em>Đặc điểm nhận dạng: Đ&atilde; xinh g&aacute;i lại c&ograve;n th&ocirc;ng minh. Mỗi tội hay bốc ph&eacute;t.</em></span></p>
                </td>
                </tr>
                <tr style="height: 48px;">
                <td style="width: 577px; height: 48px;"><span style="color: #800000;">Nếu bạn thấy người n&agrave;y vui l&ograve;ng đọc m&atilde; code *%$@&amp;)*$@ để ph&aacute;t t&iacute;n hiệu cho t&agrave;u mẹ xuống nhận trả về.&nbsp;</span></td>
                </tr>
                </tbody>
                </table>
</body>
</html>