<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
        <div>    
                <table style="height: 350px; width: 100%; border-collapse: collapse; background-color: #361d04; border-style: none;" border="0">
                        <tbody>
                        <tr style="height: 18px;">
                        <td style="width: 100%; height: 18px; text-align: center;">
                        <p style="text-align: center;"><strong><span style="font-size: 30pt;">LỆNH TRUY N&Atilde;</span></strong></p>
                        <p style="text-align: center;"><span style="color: #800000;"><strong><span style="font-size: 30pt;">WANTED!</span></strong></span></p>
                        </td>
                        </tr>
                        <tr style="height: 296px;">
                        <td style="width: 100%; height: 296px; text-align: center;"><a href="https://imgbb.com/"><img src={{ profile.image }} alt="2" border="0"></a></td>
                        </tr>
                        <tr style="height: 18px;">
                        <td style="width: 100%; height: 18px; text-align: center;"><span style="color: #ffffff;"><strong><span style="font-size: 17pt;">{{ profile.name }}</span></strong></td>
                    </span></tr>
                        <tr style="height: 18px;">
                        <td style="width: 100%; height: 18px; text-align: center;"><span style="color: #ffffff;">
                        <p><em style="font-size: 13pt;">Đặc điểm nhận dạng: {{ profile.nhandang }}</em></span></p>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <p>&nbsp;</p>
        </div>
</body>
</html>