<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>New Service</h1>
    <form method = 'post'>
        <lable>Tên</lable>
        <input type="text" name="name">
        <br>   

        <lable>YOB</lable>
        <input type="text" name="yob">
        <br>
        
        <lable>So dien thoai</lable>
        <input type="text" name="phone">
        <br>    
        
        <lable>Chieu cao</lable>
        <input type="text" name="height">
        <br>

        <lable>Giới tính</lable>
        <input type="radio" name="gender" value=1>Nam
        <input type="radio" name="gender" value=0>Nữ
        <br>

        <lable>Địa chỉ</lable>
        <input type="text" name="address">
        <br>

        <input type="submit" value="Thêm mới">
        <br>

    </form>
</body>
</html>