<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <i>Customer Detail </i>
        <div>
            {% if id.gender == 1 %}
            <img src="https://thumb.ibb.co/iJ7MTz/anhthat4.jpg">
            {% else %}
            <img src="https://thumb.ibb.co/f9qQoz/anhthat1.jpg">
            {% endif %}
            <br>
            <b>Tên:</b> {{ id.name }}
            <p><b>Năm sinh:</b> {{ id.yob }}</p>
            <p><b>Giới tính:</b> {{ "Male" if id.gender == 1 else "Female" }}</p>
            <p><b>Chiều cao:</b> {{ id.height }}</p>
            <p><b>Điện thoại:</b> {{ id.phone }} </p>
            <p><b>Địa chỉ:</b> {{ id.address }} </p>
            <p><b>Trạng thái:</b> {{ "Bận" if id.status else "Rảnh" }} </p>
            <p><b>Mô tả:</b> {{ id.description }} </p>
            <p><b>Số đo 3 vòng:</b> {{ id.measurement }} </p>
            <a href="{{ url_for('order') }}">Yêu cầu dịch vụ</a>
            <hr>
        </div>
</body>
</html>